<h1>Update your article</h1>

<% if logged_in? && (@article.user == current_user || current_user.admin)%>
    <%= render 'form'%>
<% else %>

<% flash.now[:danger] = "You are not the owner of the article" %>
     
<% end %>
