<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="<%= root_path %>">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= about_path %>">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= articles_path %>">Alpha Blog</a>
  </li>
</ul>