<center>HOME</center>
<div class="nav">
    <a class="active" href="<%= root_path %>">Home</a>
    <a href="<%= about_path %>">About</a>
    <a href="<%= articles_path %>">Alpha Blog</a>
</div>
<div class="mr2">
    <%= image_tag 'mr2.jpg' %>
</div>