<center>HOME</center>
<div class="nav">
    <a class="active" href="<%= pages_home_path %>">Home</a>
    <a href="<%= pages_about_path %>">About</a>
</div>
<div class="mr2">
    <%= image_tag 'mr2.jpg' %>
</div>