<div class="container-fluid jumbotron center bg-dark text-white">
  <h1 class="display-4">Alpha Blog!</h1>
  <p class="lead">Alpha Blog is awesome.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg bg-dark" href="#" role="button">Join</a>
  </p>
</div>

