@import 'bootstrap/dist/css/bootstrap';

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url("pacman.jpg");
    background-size: cover;
    height: 575px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}
    
.description {
    margin-top: 0;
}