<h1 align="center">Listing Categories</h1>

<div class = "digg_pagination ">
    <%= will_paginate @categories %>
</div>

<% @categories.each do |category| %>

<div class = "container">
    
    <div class="row">
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col center">
            <div class="card card-body bg-light">
                <div class="article-title">
                    <%= link_to category.name, category_path(category) %>
                </div>

            <% if logged_in? && current_user.admin? %>
                <div class="article-actions">
                    <%= link_to "Rename", edit_category_path(category), class: "btn btn-xs btn-danger" %>
                </div>
            <% end %>

        </div>
    </div>

    </div>

    <div class="row">
        <div class="col">
        </div>
    </div>

</div>
<br>
<% end %>

<div class = "digg_pagination ">
    <%= will_paginate @categories %>
</div>
